.navbar {
  box-shadow: 1px 11px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 11px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 11px 5px 1px rgba(0, 0, 0, 0.1);
  /* position: fixed !important;
  top: 0;
  width: 100%; */
  margin-bottom: 1.5rem;
}
.bgdark {
  /* background-color: teal !important; */
  background-image: linear-gradient(
    15deg,
    #13547a 0%,
    #00b49cb4 100%
  ) !important;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}

button:focus {
  outline: transparent !important;
}

.navbar-brand {
  font-size: 1.5rem !important;
}

.nav-item {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.nav-item a {
  color: white !important;
  text-decoration: none;
}

.nav-item a:hover {
  color: #ebebeb !important;
}

.fa-bars {
  color: white;
  font-size: 2rem;
}

@media only screen and (max-width: 400px) {
  .navbar-brand {
    font-size: 1.4rem !important;
  }
}

@media only screen and (max-width: 350px) {
  .navbar-brand {
    font-size: 1.2rem !important;
  }
}
